
<div class="registration">
<fieldset>
  <legend> <h2>Registration</h2></legend>
  <form name='registration_form' novalidate>

              <div class="formElement">
                              <input type="text" name="firstName" placeholder="Enter First Name"
                                    ng-model="signUpCtrl.user.firstName"
                                    required
                                    ng-maxlength="20">

                                    <span
                                     ng-if="registration_form.firstName.$error.maxlength && registration_form.firstName.$touched">
                                            First Name caanot be more than 20 Characters
                                   </span>
                                   <span
                                    ng-if="registration_form.firstName.$error.required && registration_form.firstName.$touched">
                                            First Name is a required field
                                  </span>
              </div>
              <div class="formElement">
                          <input type="text" name="lastName" placeholder="Enter Last Name"
                                    ng-model="signUpCtrl.user.lastName"
                                    required
                                    ng-maxlength="20">
                                    <span
                                     ng-if="registration_form.lastName.$error.maxlength && registration_form.lastName.$touched">
                                            Last Name caanot be more than 20 Characters
                                   </span>
                                   <span
                                    ng-if="registration_form.lastName.$error.required && registration_form.lastName.$touched">
                                            Last Name is a required field
                                  </span>

              </div>
              <div class="formElement">
                          <input type="email" name="email" placeholder="Email"
                                        ng-model="signUpCtrl.user.email"
                                        required>
                              <span ng-if="registration_form.email.$invalid && registration_form.email.$touched">
                                                Must be a valid email address: handle@domain format
                              </span>
              </div>
              <div class="formElement">

                        <input type="text" name="phone" placeholder="Phone ###-###-####"
                                           ng-model="signUpCtrl.user.phone"
                                           pattern="(\d{3})-(\d{3})-(\d{4})">
                          <span ng-if="registration_form.phone.$invalid && registration_form.phone.$touched">
                                                Phone must be in the format ###-###-####.
                          </span>
              </div>
                <div class="formElement">
                          <input type="text" name="menuNumber" placeholder="Favorite menu number "
                                                 ng-model="signUpCtrl.user.favMenuNo"
                                                 required
                                                 ng-maxlength="10">
                            <span ng-if="registration_form.menuNumber.$error.required && registration_form.menuNumber.$touched">
                                                          Please enter your favorite menu item number
                            </span>
                            <span ng-if=" signUpCtrl.itemsNotFound">
                                   No such menu number exists.
                             </span>
                </div>


        <button name="submitBtn"
                 ng-disabled="registration_form.$invalid"
                 ng-click="signUpCtrl.submit()">Submit
        </button><br/>

        <span ng-if="signUpCtrl.submitSuccess">
               Your information has been saved !
         </span>

  </form>
</fieldset>
</div>
